.container {
  display: flex; /* Enable flexbox for side-by-side layout */
  flex-direction: row;
}

.sidebar {
  width: 20%; /* Set sidebar width */
  padding: 1em; /* Add padding for content */
  /* Add styles for sidebar content (links, etc.) */
}

.content {
  flex: 1; /* Flex-grow to fill remaining space */
  padding: 1em; /* Add padding for content */
}

table {
  margin: 0;
  max-width: 100%;
}
